# Rsyslog rules for GDP programs

# should really break out different programs into different logs
local4.*				@GDP_LOGDIR@/gdp.log

:msg, contains, "gdplogd"		@GDP_LOGDIR@/gdplogd.log
:msg, contains, "gdp-router-click"	@GDP_LOGDIR@/gdp-router-click.log
