# see https://www.reddit.com/r/systemd/comments/3spd5k/start_multiple_instances_with_one_service_file/ for an explanation

[Unit]
Description=All mqtt-gdp-gateway instances
After=gdplogd

[Service]
Type=oneshot
Environment=GDP_ROOT=@GDP_ROOT@
Environment=GDP_USER=@GDP_USER@
ExecStart=/bin/true
ExecStop=/bin/true
ExecReload=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
