# see https://www.reddit.com/r/systemd/comments/3spd5k/start_multiple_instances_with_one_service_file/ for an explanation

[Unit]
Description=MQTT to GDP gateway on %I
Requires=mqtt-gdp-gateway.service
Before=mqtt-gdp-gateway.service
BindsTo=mqtt-gdp-gateway.service

[Service]
Type=simple
SyslogIdentifier=mqtt-gdp-gateway-%i
TimeoutStartSec=300
ExecStart=/bin/sh @GDP_ROOT@/sbin/start-mqtt-gdp-gateway.sh %i
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=mqtt-gdp-gateway.service
