#
#  This cannot have a "script" or "exec" clause, because we don't
#  want it to seem to stop after we have started the individual
#  instances.  Hence we do everything in the pre-start script.
#

description "Start MQTT-GDP gateways"

start on started gdplogd
stop on stopping gdplogd

env NAME="MQTT-GDP all gateways"
env GDP_ROOT=@GDP_ROOT@
env PIDFILE="@GDP_VAR_RUN@/mqtt-gdp-gateways.pid"

script
	echo $$ > $PIDFILE
	sh $GDP_ROOT/etc/start-mqtt-gdp-gateways.sh
end script
